.button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  background: #fff no-repeat center;
  background-size: 15px 15px;
  transition: background .5s ease;

  &:hover {
    background-color: rgba(#fff, .2);
  }

  &.button-next {
    background-image: url('/images/icons/chevron-down.svg');
  }

  &.button-previous {
    background-image: url('/images/icons/chevron-up.svg');
  }

  &.button-home {
    background-image: url('/images/icons/home.svg');
  }

  &.button-question {
    background-image: url('/images/icons/question.svg');
  }
}

