.navigation {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 10px 10px 0 10px;
  text-align: center;

  button {
    &.next {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px;
      border: 0;
      line-height: 30px;
      border-radius: 50%;
      background: #fff url('/images/icons/chevron-up.svg') center no-repeat;
      background-size: 15px 15px;
      cursor: pointer;
    }
    &.next:hover {
      background: #e4e4e4 url('/images/icons/chevron-up.svg') center no-repeat;
      background-size: 15px 15px;
    }

    &.previous {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px;
      border: 0;
      line-height: 30px;
      border-radius: 50%;
      background: #fff url('/images/icons/chevron-down.svg') center no-repeat;
      background-size: 15px 15px;
      cursor: pointer;
    }
    &.previous:hover {
      background: #e4e4e4 url('/images/icons/chevron-down.svg') center no-repeat;
      background-size: 15px 15px;
    }
  }
}

