.navigation {
  display: inline-block;
  border: 2px #000;
  background: #818181;

  button {
    &.next {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px;
      border: 0;
      line-height: 30px;
      border-radius: 50%;
      background: #fff url('../../icons/chevron-up.svg?fill=black') center no-repeat;
      background-size: 15px 15px;
      cursor: pointer;
    }
    &.next:hover {
      background: #e4e4e4 url('../../icons/chevron-up.svg?fill=black') center no-repeat;
      background-size: 15px 15px;
    }

    &.previous {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px;
      border: 0;
      line-height: 30px;
      border-radius: 50%;
      background: #fff url('../../icons/chevron-down.svg?fill=black') center no-repeat;
      background-size: 15px 15px;
      cursor: pointer;
    }
    &.previous:hover {
      background: #e4e4e4 url('../../icons/chevron-down.svg?fill=black') center no-repeat;
      background-size: 15px 15px;
    }
  }
}

